body{
  background-color: #000000;
  color: #f1f6f9 ;
}
.carousel-item {
  height: 100vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
}


.navbar-brand {
  font-size: 2.5rem;
}

/* .main {
  position: relative;
  text-align: center;
  color: white;
}

.tag-text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* .imageContainer {
      width:1000px;
      height: 70px;
      background-image: url("images/infinityscene.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      text-align: center;
      color: white;
} */

/* .image {
   position: relative;
   max-width: 2rem;
}

h2.main-head {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
   color: white;
} */
.img-main{
  background-attachment: fixed;
}
.navbar.scrolled {
  background: grey;  
 color: red;
 transition: background  1000ms;
}
.card{
  color: #000000;
}
.rotate {
  animation: rotation 4s;
  height: 18rem;
  weight: 18rem;
  z-index: -1;
  margin-left: 4rem;
}

.linear {
  animation-timing-function: linear;
}

.infinite {
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

#heading {
  font-family: 'Kaushan Script';
}

.sub {
  font-family: 'Acme';
}

body {
  font-family: 'Poppins';
}

.intro {
  margin: 8rem 0;
}

.intro-text {
  padding-top: 3rem;
  text-align: center;
}

.text-heading {
  text-align: center;
}

.intro-subtext {
  line-height: 1.5;
  margin-top: 1.5rem;
}

.accessible-section {
  background-color: #084177;
  padding: 4rem;
}

.laptop {
  margin-left: 18rem;
  height: 25rem;
  weight: 25rem;
}

.senten {
  margin: 3rem 23rem;
  font-size: 1.5rem;
  color: white;
  font-weight: 800;
}

.cat-title {
  margin: 2rem 28rem 8rem 28rem;
}

.topics {
  margin: 6rem 13.5rem 12rem;
}

.footer{
  background-color: #686d76;
  color: white;
  padding: 4rem 5rem;
}

.footer-head{
  text-align: center;
}

.footer .container{
  margin-top: 4rem;
}

.mail{
  border-right: 2px solid white;
  padding: 2rem 5rem 2rem 13rem;
}

.contact-info{
  text-align: right;
}

.mail-btn{
  border: 1px solid #084177;
}

.fab{
  margin: 3.25rem 0 3.25rem 3rem;
}

.fa-facebook:hover{
  color: #4267B2;
}

.fa-twitter:hover{
  color: #1DA1F2;
}

.fa-github:hover{
  color: grey;
}

.fa-google-plus:hover{
  color: #DB4437;
}

.fa-instagram:hover{
  color: #9b6954;
}

.Copyright{
  font-size: 10px;
  text-align: center;
  margin-top: 3rem;
}

.Copyright a{
  color: white;
}

.Copyright a:hover{
  color: grey;
}

/* Scroll Out */

.data-scroll {
  transition: opacity 1s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
}
